div#push

div#footer
  div.container
    p(class="muted credit") &copy; 2014 | Mixed with <a href="http://getbootstrap.com/">Bootstrap v3.1.1</a> | Baked with <a href="http://jbake.org">JBake <span>#{version}</span></a>

script(src='#{content.rootpath}js/jquery-1.11.1.min.js')
script(src='#{content.rootpath}js/bootstrap.min.js')
script(src='#{content.rootpath}js/prettify.js')

script(type='text/javascript').
  var disqus_shortname = '#{config.disqus_username}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

script(type="text/javascript").
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
script(type="text/javascript").
  try {
    var pageTracker = _gat._getTracker("UA-46132533-1");
    pageTracker._trackPageview();
  } catch(err) {}
