extends layout.jade

block title
  Blog

block content
  each post in published_posts
    a(href="#{post.uri}")
      h1 #{post.title}
    div.row
      div.col-md-9 #{dates.format(post.date,"dd MMMM yyyy")}
      div.col-md-3
        p.text-right
          a(href="#{post.uri}#disqus_thread", data-disqus-identifier="#{post.uri}")

    p !{post.body}

  hr

  p Older posts are available in the <a href="archive.html" shape="rect">archive</a>.






